@model LibraryManagementSystem.Models.Book

<p><strong>Id:</strong> @Model.Id</p>
<p><strong>Kitap Adı:</strong>@Model.Title</p>
<p><strong>Yazar:</strong> @Model.Author</p>
<p><strong>Yayın Yılı:</strong> @Model.PublicationYear</p>
<p><strong>ISBN:</strong> @Model.ISBN</p>
<p><strong>Tür:</strong> @Model.Genre</p>
<p><strong>Yayınevi:</strong> @Model.Publisher</p>
<p><strong>Sayfa Sayısı:</strong> @Model.PageCount</p>
<p><strong>Özet:</strong> @Model.Summary</p>
<p><strong>Dil:</strong> @Model.Language</p>
<p><strong>Mevcut Kopyalar:</strong> @Model.AvailableCopies</p>
